{% extends "base.html" %}
{% block title %}Odevzdaný úkol{% endblock title %}

{% block content %}
<h2>Odevzdaný úkol: {{ hw.key.assignment.title }}</h2>

<div class="card mt-4">
    <div class="card-header">
        <strong>Student:</strong> {{ hw.key.student.username }}<br>
        <strong>Odevzdáno:</strong> {{ hw.submitted|date:"d.m.Y H:i" }}
    </div>
    <div class="card-body">
        <p>{{ hw.engrossment|linebreaks }}</p>
    </div>
</div>

{% if request.user == hw.key.assignment.teacher %}

{% if hw.text_evaluation or hw.score %}
             {% if hw.text_evaluation %}
                <div class="mb-3">
                    <h6>Hodnocení od učitele:</h6>
                    <div class="border rounded p-2 bg-white">
                        {{ hw.text_evaluation|linebreaks }}
                    </div>
                </div>
            {% endif %}

            {% if hw.score %}
                <div class="mb-3">
                    <strong>Skóre:</strong> {{ hw.score }} / {{ hwdetail.max_score }}
                </div>
            {% endif %}
            <a href="{% url 'evaluate_edit' hw.pk %}" class="btn btn-primary mt-3">upravit hodnocení</a>
             <a href="{% url 'evaluate_delete' hw.pk %}" class="btn btn-danger mt-3">Smazat hodnocení</a>
            {% else %}
   <a href="{% url 'evaluate_homework' hw.pk %}" class="btn btn-primary mt-3">Ohodnotit úkol</a>
   {% endif %}
{% endif %}

{% endblock content %}
