{% extends "base.html" %}
{% block title %}Úkol: {{ hwdetail.title }}{% endblock title %}

{% block content %}
<div class="container mt-5" style="max-width: 800px;">

    <div class="card">
        <div class="card-header">{{ hwdetail.title }}</div>
        <div class="card-body">
            <p><strong>Předmět:</strong> {{ hwdetail.subject }}</p>
            <p><strong>Učitel:</strong> {{ hwdetail.teacher }}</p>
            <p><strong>Popis:</strong><br>{{ hwdetail.description }}</p>
            <p><strong>Termín odevzdání:</strong> {{ hwdetail.deadline }}</p>
            <p><strong>Max score: </strong>{{hwdetail.max_score}}</p>
            <p><strong>Zveřejněno:</strong> {{ hwdetail.release }}</p>
            </div>
    </div>

    {% if already_submitted %}
        <div class="alert alert-success">
            Úkol byl odevzdán {{ submitted_homework.submitted }}.
        </div>

        {% if submitted_homework %}
            <div class="card">
                <div class="card-header">Tvůj odevzdaný text:</div>
                <div class="card-body">
                    {{ submitted_homework.engrossment|linebreaks }}
                </div>
            </div>
                        <div class="mt-3">
                <a href="{% url 'homework_update' submitted_homework.pk %}" class="btn btn-outline-primary">
                    Upravit odevzdání
                </a>
            </div>

            {% if submitted_homework.text_evaluation %}
                <div class="dard mb-3">
                    <div class="card-header">Hodnocení od učitele:</h6>
                    <div class="card-body">
                        {{ submitted_homework.text_evaluation|linebreaks }}</div>
                </div>
            {% endif %}

            {% if submitted_homework.score %}
                <div class="mb-3">
                    <strong>Skóre:</strong> {{ submitted_homework.score }} / {{ hwdetail.max_score }}
                </div>
            {% endif %}

        {% endif %}

    {% else %}
        <div class="mt-3">
            <a href="{% url 'hw_submit' %}?assgn_id={{ hwdetail.pk }}" class="btn btn-primary">
                Odevzdat úkol
            </a>
        </div>
    {% endif %}

</div>
{% endblock content %}
