{% extends "base.html" %}
{% block title %}Seznam úkolů{% endblock title %}

{% block content %}
<div class="container mt-4">

    {% if user.is_authenticated %}
        <div class="alert alert-info">
        <div class="card">
            <div class="card-header">
                <h5>Seznam úkolů</h5>
            </div>
            <div class="card-body">
                {% if message %}
                
                    <p>{{message}}</p>
                {%else%}
                
                <div class="table-responsive">
                    <table class="table table-bordered table-hover align-middle">
                        <thead class="table-light">
                            <tr>
                                <th>Název úkolu</th>
                                <th>Termín</th>
                                <th>Předmět</th>
                                <th>Učitel</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for assi in assign %}
                                <tr>
                                    <td><a href="{% url 'assgn_detail' assi.pk %}">{{ assi.title }}</a></td>
                                    <td>{{ assi.deadline }}</td>
                                    <td>{{ assi.subject }}</td>
                                    <td>{{ assi.teacher }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {%endif %}
            </div>
        </div>

    {% else %}
        <div class="alert alert-warning">
            Buuu... nejsi přihlášen :<
        </div>
    {% endif %}
</div>
{% endblock content %}
